<body>
    <!-- Navegação -->
    <nav class="navbar">
        <!-- Menu para Mobile -->
        <span class="navbar-toggle" id="toggle-action">
            <mat-icon>menu</mat-icon>
        </span>

        <!-- Manu resposivo para web (Minimo de 769px) -->
        <a href="" class="logo"> <img src="assets/img/logo - Contacttura.png" alt="logo" class="logo-navbar"></a>

        <!-- Lista de rotas do menu -->
        <ul class="main-nav" id="desktop-menu">
                <li>
                    <a [routerLink]="['/contacts-create-edit']" class="nav-links">Contatos</a>
                </li>
                <li>
                    <a [routerLink]="['/user-create-edit']" class="nav-links">Usuários</a>
                </li>
                <li>
                    <a [routerLink]="['/login']" class="nav-links">Logout</a>
                </li>
        </ul>
    </nav>
</body>